* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body { box-sizing: border-box;
    font-family: 'Sen',sans-serif;
    color: #232536;
  }
  .block {
    float: left;
    width: 100%;
  }
  .main-header {
    padding-top: 15px;
    padding-bottom: 26px;
    height: 80px;
    background-color: #232536;
  }
  .logo {
    float: left;
    padding-top: 8px;
    padding-bottom: 50px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 28px;
  }
  .container {
    margin: 0 80px;
   
  }
  .btn {

    padding: 16px 48px;
    width: 179px;
    height: 56px;
    text-decoration: none;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #232536;
  }
  .btn--white {
    background: #ffffff;
    float: right;
    
  }
  
  
  .main-nav{
    float: right;
  }
  
  .main-nav ul{
    float: left;
    list-style: none;
    padding-top: 16px;
  }
  .main-nav li {
    float: left;
    margin-right: 24px;
  }
  .main-nav li a{
    text-decoration: none;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    
  }
  .hero{
    background-image: url(/images/section1bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 823px;
   }

.hero-text{
   padding:146.32px 556px 227px 0px;
   font-style: normal;
   color: #FFFFFF;
}
.hero-text h4{
    width: 221.17px;
    height: 22.86px;
    margin-bottom: 27.43px;

    font-family: 'Inter',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
   
}
.hero-text h1{
    width: 800px;
    height: 146.31px;

    font-family: 'Sen';
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -2px;



}
.hero-text h6{
    width: 200.09px;
    height: 32.01px;
    margin-bottom: 18.64px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

}
.hero-text h6 a{
    color: #FFD050;
}
p{
    
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
}
.p--white{
color: #FFFFFF;
margin-bottom:70.51px;
}
.btn--yellow {
    background: #FFD050;
    
    
  }


/*section2*/
/*kolonat*/
.col {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-half {
    width: 45%;
  }
  .col-third {
    width: 33.33333333%;
  }
  .col-fourth  {
    width: 25%;
  }
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  




  .hero2{
    
    margin-top: 27px;
  }
  
  h2{
    
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    margin-bottom: 32px;
  }
  .wrapper{
    border: 1px solid #6d6e7668;
    width: 733px;
    height: 724px;
  }

.article_image{
 margin:32px 32px;

}
.article_text{
    margin-left:32px;
}
h6{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
margin-bottom: 8px;
}
.article_text h6{
    color: #4C4C4C;
}
.article_text h6 a{
    color: #592EA9;
}

h3{
font-family: 'Sen';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 40px;
letter-spacing: -1px;
color: #232536;
}
.p--gray{
    color: #6D6E76;
    margin-top: 16px;
    margin-bottom: 32px;
}
.article2{
    margin-left: 142px;
}


.posts{
    width: 517px;
    height: 182px;
    padding: 20px 80px 0px 30px;


}
.active-post{
    background: #FBF6EA;

}