* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body { box-sizing: border-box;
    font-family: 'Sen',sans-serif;
    color: #232536;
  }
  .block {
    float: left;
    width: 100%;
  }
  .main-header {
    padding-top: 15px;
    padding-bottom: 26px;
    height: 80px;
    background-color: #232536;
  }
  .logo {
    float: left;
    padding-top: 8px;
    padding-bottom: 50px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 28px;
  }
  .container {
    margin: 0 80px;
    margin-bottom: 40px;
   
  }
  .btn {

    padding: 16px 48px;
    width: 179px;
    height: 56px;
    text-decoration: none;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #232536;
  }
  .btn--white {
    background: #ffffff;
    float: right;
    
  }
  
  
  .main-nav{
    float: right;
  }
  
  .main-nav ul{
    float: left;
    list-style: none;
    padding-top: 16px;
  }
  .main-nav li {
    float: left;
    margin-right: 24px;
  }
  .main-nav li a{
    text-decoration: none;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    
  }
  .hero{
    background-image: url(/images/section1bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 823px;
   }

.hero-text{
   padding:146.32px 556px 227px 0px;
   font-style: normal;
   color: #FFFFFF;
}

.hero-text h4{
    width: 221.17px;
    height: 22.86px;
    margin-bottom: 27.43px;

    font-family: 'Inter',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
   
}

h1{
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */
    
    letter-spacing: -2px;
}
.hero-text h1{
    width: 800px;
    height: 146.31px;



}
.hero-text h6{
    width: 200.09px;
    height: 32.01px;
    margin-bottom: 18.64px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

}
.hero-text h6 a{
    color: #FFD050;
}
p{
    
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
}
.p--white{
color: #FFFFFF;
margin-bottom:70.51px;
}
.btn--yellow {
    background: #FFD050;
    
    
  }


/*section2*/
/*kolonat*/
.col {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  .col-half {
    width: 50%;
  }
  .col-third {
    width: 33.33333333%;
  }
  .col-fourth  {
    width: 25%;
  }
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  .hero2{
    margin-top: 27px;
  }
  
  h2{
    
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -2px;
    margin-bottom: 32px;
  }
  .hero2 .wrapper{
    border: 1px solid #6d6e7668;
    width: 733px;
    height: 724px;
   
  }

.article_image{
 margin:32px 32px;

}
.article_text{
    margin-left:32px;
}
h6{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
margin-bottom: 8px;
}
.article_text h6{
    color: #4C4C4C;
}
.article_text h6 a{
    color: #592EA9;
}

h3{
font-family: 'Sen';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 40px;
letter-spacing: -1px;
}

.p--gray{
    color: #6D6E76;
    margin-top: 16px;
    margin-bottom: 32px;
}
.article2{
    margin-left: 67px;
}


.posts{
    width: 517px;
    height: 182px;
    padding: 20px 80px 0px 30px;


}
.active-post{
    background: #FBF6EA;

}


/*Section3*/
.hero3{
    margin: 126px 80px;
    height: 523px;
    display: inline-block;
    background: #F4F0F8;
}
.hero3 .article{
    padding: 96px 61px 96px 0px;
}
.info{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
letter-spacing: 3px;
text-transform: uppercase;
color: #232536;
}


.hero3 h2 h3{
    padding-top: 15px;
}

.p2{
    padding-top: 13px;
}

.btn--purple{
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-decoration: none;

    display: flex;
    align-items: center;
    
    color: #592EA9;

}
.hero4{
    height: 364px;
}
.title{
    margin: 50x 0px;
    text-align: center;
}
.hero4 .article{
    padding-top: 30px;
    height: 228px;
    border: 1px solid #6D6E76;
}

.hero4 .logo{
    width: 40px;
    height: 10px;
    padding-bottom: 34px;
    margin-left: 32px;
    background: #FBF6EA;
    border-radius: 15px;
    align-items: center;
}
.hero4 img{
    padding-left: 5px;
}

.hero4 .article_text{
    margin-top: 61px;
}
.hero4 .active-article{
    background: #FFD050;
}



/*section 5*/

.hero5 .container{
    background: url(/images/section5bg.png);
	background-repeat: no-repeat;
	height: 705px;
}
.hero5 .article{
    background-color: white;
    width: 706px;
    height: 584px;
    margin-top: 121px;
    float: right;
}
.hero5 .article_text{
  padding:80px 60px;
}

.hero6 .container{
  margin: 80px;
}

.hero6 .article{
  padding-top: 30px;
  padding-right: 20px;
  height: 324px;
  background: #F4F4F4;
  text-align: center;
}
.article_text{
  
}


.article_text ul{
  margin-left: 67px;
  float: left;
  list-style: none;
  padding-top: 8px;
}
.article_text li {
  float: left;
  padding-right: 16px;
  
  
}
.article_text p{
  margin-top: -4px;
  margin-bottom: -1px;
}
.hero6 .active-article{
  background: #FBF6EA;
}